<div class="container">
 <div align="center">
   <%= render'layouts/form' %>
   <div class="PageLayout-content">
     <div class="FormContent">
      <p class="login-head">Login</p>
     <%= form_for(:session, url: sessions_path) do |f| %>
      <div class="field">
       <%= f.text_field :email, placeholder: "Email",:size => "50x1" %>
      </div>
      <div class="field">
       <%= f.password_field :password, placeholder: "Password",:size => "50x1" %>
      </div>
      <div class="field">
       <%= f.submit "LogIn" %>
      </div>
     <% end %>
     <div class="field">
      <li>Hassle? Then, <span class="emphasize bigger"><%= link_to "Login as TRIAL", users_trial_path %></span></li>
     </div>
     <%= link_to "New User?", new_user_registration_path, class: "button-against-whitebackground" %>
     </div>
   </div>
 </div>
</div>