<div class="outline">
  <div class="session-form">
    <section class="session-form__content">
      <h2 class="u-mb15">
        <%= yield(:head_text) %>
      </h2>
      <%= form_with(model: @user, as: resource_name, url: session_path(resource_name),local: true) do |f| %>
        <div class="session-form__element">
          <div class="session-form__label">
            <%= f.label :email %>
          </div>
          <div class="session-form__input">
            <%= f.email_field :email, class: 'session-form__input-area', autofocus: true, autocomplete: "email", :size => "50x1", required: true %>
          </div>
        </div>
        <div class="session-form__element">
          <div class="session-form__label">
            <%= f.label :password %>
          </div>
          <div class="session-form__input">
            <%= f.password_field :password, class: 'session-form__input-area', autocomplete: "current-password",:size => "50x1", required: true %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="session-form__element">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
        <div class="session-form__btn-area u-mb15">
          <%= f.submit yield(:button_text), class: 'session-form__btn' %>
        </div>
      <% end %>
      <div class="session-form__element">
        <li>Hassle? Then, <span class="emphasize bigger"><%= link_to "Login as TRIAL", users_trial_path %></span></li>
      </div>
      <%= render "devise/shared/links" %>
    </section>
  </div>
</div>
