<div class="main-container u-mt15">
  <div class="side-container">
		<%= link_to(companies_candidates_path) do%>
      <p>All Candidates</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "interested_by_user")) do%>
      <p>Users pushing interesting</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "interested_by_company")) do%>
      <p>Users Company pushing interesting</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_screening")) do%>
      <p>Screening</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_skill_checking")) do%>
      <p>Skill Checking</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_interview")) do%>
      <p>Interview</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_offerring")) do%>
      <p>Recruitment Offerring</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_signed")) do%>
      <p>Signed</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "rejected")) do%>
      <p>Rejected</p>
    <% end %>
  </div>
  <div class="project-main-container">
    <% @users.each do |user| %>
      <%= link_to(companies_candidate_path(user)) do %>
        <div class="candidate-area">
          <div class="image-content">
            <% if user.image? %>
              <img src="<%= user.image %>" class="candidate-img">
            <% else %>
              <img src="../assets/user-icon.png" class="candidate-img">
            <% end %>
          </div>
          <div class="candidate-info">
            <h3 class="project-element u-mb25 project-header"> 
              <%= user.name %>
            </h3>
            <%= user.age %>
            <%= user.career_year %>
            <%= user.area %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
