<div class="main-container u-mt15">
  <div class="side-container">
		<%= link_to(companies_candidates_path) do%>
      <p>All</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "interested_by_user")) do%>
      <p>Interested by Users</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "interested_by_company")) do%>
      <p>Interested by Company</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_screening")) do%>
      <p>Screening</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_skill_checking")) do%>
      <p>Skill Checking</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_interview")) do%>
      <p>Interview</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_offerring")) do%>
      <p>Recruitment Offerring</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "under_signed")) do%>
      <p>Signed</p>
    <% end %>
    <%= link_to(companies_candidates_path(filter: "rejected")) do%>
      <p>Rejected</p>
    <% end %>
  </div>
  <div class="project-main-container">
    <% @users.each do |user| %>
      <%= link_to(companies_candidate_path(user)) do %>
        <div class="candidate-area">
          <div class="image-content">
            <% if user.image? %>
              <img src="<%= user.image %>" class="candidate-img">
            <% else %>
              <img src="../assets/user-icon.png" class="candidate-img">
            <% end %>
          </div>
          <div class="candidate-info">
            <h4 class="project-element project-header word-break"> 
              <%= user.name %> ・ <%= user.age %>
            </h4>
            <p class="u-pt5 word-break"><%= @user&.portfolio&.career_text %> ・ <%= @user&.career_year %></p>
            <p class="u-left u-p10 word-break"><%= truncate(@user&.portfolio&.experience, length:90) %></p>
            <p class="u-center u-p10 word-break"><%= user.area %></p>
            <p class="u-right u-p10 word-break"><%= @user&.current_sign_in_at&.strftime("%Y/%m/%d/%H:%M") %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
