<div class="button-area u-pt10">
  <% if @user.interest_user? %>
    <button type="button" class="u-mb10 u-disable-button u-p2 u-block-right" disabled> Already Interest </button>
  <% else %>
    <%= form_with(url: companies_interests_path, local: true) do |f| %>
      <p class="u-left"> ※Select a job offer for the candidate</p>
      <%= f.hidden_field :user_id, value: @user.id %>
      <%= f.select :project_id, options_for_select(@projects.map{|c|[c[:title].truncate(30), c[:id]]}), class:"u-mb10" %>
      <%= f.submit value:"Interest", class: "interest-button u-block-center", data: { confirm: "Did you choose correct job post for the candidate?"} %>
    <% end %>
  <% end %>
</div>

<div class="companies_candidate_show_area">
  <div class="companies_candiate_container u-mt20">
    <div class="prof-content-area1">
      <p class="u-pt5 bigger thick"><%= @user.name %>　(<%= @user.age %>)</p>
      <p class="u-pt5"><%= @user&.portfolio&.career_text %>　・ <%= @user&.career_year %></p>
    </div>
    <div class="image-content u-pt30">
      <% if @user.image? %>
        <div class="prof-content-area1">
          <img src="<%= @user.image %>" class="candidate-img">
        </div>
      <% else %>
        <div class="prof-content-area1">
          <img src="../../assets/user-icon.png" class="candidate-img">
        </div>
      <% end %><br>
    </div>
    <div class="companies-user-show-profile">
      <div class="prof-content-area">
        <div class="contents-headeing">Current Sign in</div>
        <p class="u-left u-p10"><%= @user&.current_sign_in_at&.strftime("%Y/%m/%d/%H:%M") %></p>
      </div>
      
      <div class="prof-content-area">
        <div class="contents-headeing">Message</div>
        <p class="u-left u-p10"><%= @user&.portfolio&.message %></p>
      </div>
  
      <div class="prof-content-area">
        <div class="contents-headeing">Experience</div>
        <p class="u-left u-p10"><%= @user&.portfolio&.experience %></p>
      </div>
      
      <div class="prof-content-area">
        <div class="contents-headeing">Portfolio URL</div>
        <p class="u-left u-p10"><%= @user&.portfolio&.first_site%></p>
      </div>
      
      <div class="prof-content-area">
        <div class="contents-headeing">Portfolio Image</div>
        <p><%= @user&.portfolio&.first_image%></p>
      </div>
    </div>
  </div>
  <% unless @is_channel %>
    <button type="button" class="u-mb10 interest-button u-p2 u-block-center" id="jsModalOpen">Send Message</button>
  <% else%>
    <%= link_to(companies_channel_path(@channel)) do %>
      <button type="button" class="u-mb10 interest-button u-p2 u-block-center" id="">Open Message</button>
    <% end %>
  <% end%>
</div>

<div id="overlay">
  <div id="modalWindow">
    <div class="modal-message-box">
      <p>Send Message to <%= @user.name %></p>
      <%= form_with(url: companies_channels_path, local: true) do |f| %>
        <%= f.label :content, "Message" %>
        <%= f.text_area :content, required: true %>
        <%= f.hidden_field :company_id, value: current_user.company.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit value:"Send" %>
      <% end %>
      <button id="modal-close-btn">キャンセル</button>
    </div>
  </div>
</div>
