<div class="container">
 <div align="center">
  <div class="PageLayout-content">
   <div class="FormContent">
    <h3>Sign Up</h3>
    <%= form_for @user do |f| %>
     <div class="field">
      <%= f.text_field :name, placeholder: "Name", :size => "50x1" %>
     </div>
     <div class="field">
      <%= f.text_field :email, placeholder: "Email", :size => "50x1" %>
     </div>
     <div class="field">
      <%= f.password_field :password, placeholder: "Password", :size => "50x1" %>
     </div>
     <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", :size => "50x1" %>
     </div>
     <div class="field">
      <%= f.label:career_year, 'Career' %>
      <%= select(:user, :career_year, [['Nothing/Self-Learning ONLY'], ['1 year'],['2 years'],['3 years'],['4 years'],['5 years'],
      ['6 years'],['7 years'],['8 years'],['9 years'],['10 years'],['11 years'],['12 years'],['13 years'],['14 years'],['15 years'],
      ['16 years'],['17 years'],['18 years'],['19 years'],['20 years'],['More Than 20 years']])  %>
     </div>
     <p class="skill_head">Select your skills below</p>
     <div class="field">
      <%= f.collection_check_boxes :tech_ids, Tech.all, :id, :name do |cb| %>
       <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
     </div>
     <div class="picture_create">
      <div class="picture_head">Profile Picture</div>
      <div class="field">
       <%= f.file_field :image %>
      </div>
     </div>
     <div class="field">
      <%= f.submit "Register" %>
     </div>
    <% end %>
    <p class="under-little-space">
     <%="Have an account？"%> <%= link_to "Login", new_sessions_path,class:"button-against-whitebackground" %>
    </p>
   </div>
  </div>
 </div>
</div>