<div class="container">
  <div align="u-block-center">
    <div class="PageLayout-content">
      <div class="FormContent">
        <h3><%= yield(:head_text) %></h3>
        <%= form_with(model: @user, local: true) do |f| %>
          <div class="portfolio-field u-mt20">
            <p><%= f.label:name, 'Name' %></p> 
            <%= f.text_field :name, placeholder: "Alexandle Ronald", required: true,class:"text-field"  %>
          </div>
          <div class="portfolio-field u-mt20">
            <p><%= f.label:email, 'Email' %></p>
            <%= f.text_field :email, placeholder: "desilopers@example.com", required: true,class:"text-field" %>
          </div>
          <div class="portfolio-field u-mt20">
            <p><%= f.label:password, 'Password' %></p>
            <%= f.password_field :password, placeholder: "More Than 8 Letter", required: true,class:"text-field" %>
          </div>
          <div class="portfolio-field u-mt20">
            <p><%= f.label:password_confirmation, 'Password Confirm' %></p>
            <%= f.password_field :password_confirmation, placeholder: "More Than 8 Letter", required: true,class:"text-field"%>
          </div>
          <% if false%>
            <div class="portfolio-field u-mt20">
              <p><span class="aaa"><%= f.label:career_year, 'Career' %></p>
              <div class="text-sm-aa">
                <%= select(:user, :career_year, [['Nothing/Self-Learning ONLY'], ['1 year'],['2 years'],['3 years'],['4 years'],['5 years'],
                ['6 years'],['7 years'],['8 years'],['9 years'],['10 years'],['11 years'],['12 years'],['13 years'],['14 years'],['15 years'],
                ['16 years'],['17 years'],['18 years'],['19 years'],['20 years'],['More Than 20 years']])  %>
              </div>
            </div>
          <% end %>
          <div class="portfolio-field u-mt20">
            <p><%= f.label:birthday, 'Birthday' %></p>
            <%= f.date_field :birthday, class:"birthday-field", required: true,class:"text-field" %>
          </div>
          <div class="portfolio-field adjust u-mt20">
            <p><%= f.label :gender, 'Sex' %></p>
            <%= f.radio_button :gender, :male, class:"u-px20", checked: true %>Male <br>
            <%= f.radio_button :gender, :female, class:"u-px20" %>Female<br>
            <%= f.radio_button :gender, :other, class:"u-px20" %>Other
          </div>
          <div class="portfolio-field u-mt20">
            <h3 class="u-mt30 u-mb10 u-left">Select your skills below</h3>
            <%= f.collection_check_boxes :tech_ids, Tech.all, :id, :name do |cb| %>
              <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
            <% end %>
          </div>
          <div class="portfolio-field">
            <h3 class="u-mt30 u-mb10 u-left">Profile Picture</h3> 
            <%= f.file_field :image %>
          </div>
          <div class="">
            <%= f.submit yield(:button_text), data: { disable_with: 'Creating...' }, class: 'regist-button u-mt20' %>
          </div>
        <% end %>
        <% if !user_signed_in? %>
          <p class="under-little-space">
            <%="Have an account？"%> <%= link_to "Login", new_user_session_path,class:"button-against-whitebackground" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>