<%= form_for @user do |f| %>
 <div class="field">
  <%= f.label:name %>
  <%= f.text_field :name, placeholder: "Your name"%>
 </div>
 
 <div class="field">
  <%= f.label :email, "Email" %>
  <%= f.text_field :email, placeholder: "Your Email" %>
 </div>
 
 <div class="field">
  <%= f.label :password, "Password" %>
  <%= f.password_field :password, placeholder: "Your Password" %>
 </div>
 
 <div class="field">
  <%= f.label :password_confirmation, "Type same Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
 </div>
 
 <div class="field">
  <%= f.label:age, 'Your Age' %>
  <%= select(:user, :age, [['Under 15'],['15~18 years old'],['19~22 years old'],['23~26 years old'],['27~30 years old'],['31~34 years old'],['35~38 years old'],['39~42 years old'],['43~46 years old'],['47~50 years old'],['51~55 years old'],['56~60 years old'],['Over 61']]) %>
 </div>
 
 <div class="field">
  <%= f.label:gender %>
  <%= select(:user, :gender, [['Male'],['Female']]) %>
 </div>
 
 <div class="field">
  <%= f.label:area %>
  <%= select(:user, :area, [['Hokkaido'],['Tohoku'],['Kanto'],['Hokuriku'],['Koshin'],['Tokai'],['Kinki'],['Chugoku'],['Kyushu'],['Okinawa'],['Other']]) %>
 </div>
 
 
 <div class="field">
  <%= f.label:career_year, 'Your Career' %>
  <%= select(:user, :career_year, [['Nothing/Self-Learning ONLY'], ['1 year'],['2 years'],['3 years'],['4 years'],['5 years'],['6 years'],['7 years'],['8 years'],['9 years'],['10 years'],['11 years'],['12 years'],['13 years'],['14 years'],['15 years'],['16 years'],['17 years'],['18 years'],['19 years'],['20 years'],['More Than 20 years']]) %>
 </div>
 
 <div class="field">
  <%= f.label :hobby %><br>
  <%= f.text_area :hobby, :size => "50x5", placeholder: "What do you like to do in your free time" %>
 </div> 

 <%= f.collection_check_boxes :tech_ids, Tech.all, :id, :name do |cb| %>
  <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
 <% end %>
 
 <div class="field">
  <%= f.label:job_hunting %>
  <%= select(:user, :job_hunting, [['YES', true],['NO', false]]) %>
 </div>
 
 <%= f.file_field :image %>
 
  
 <div class="actions">
  <%= f.submit "Register" %>
 </div>
 
<% end %>
<%= link_to "Go back to Top Page", root_path %>