<div align="center">
 <%= will_paginate %>
</div>
<div class="container">
  <section class="user_index">
    <% @users.each do |user| %>
      <% if !user.portfolio.blank? %>
        <div class="user_box">
          <%= link_to(user_path(user)) do %>
            <div class="user_info">
              <% if user.image? %>
                <div class="user_image"><%= image_tag user.image.url if user.image? %></div>
              <% elsif user.name.include?("TRIAL USER") %>
                <div class="user_image"><%= image_tag("sampleman.jpg") %></div>
              <% else %>
                <div class="user_image"><%= image_tag("noprofile.png") %></div>
              <% end %>
            </div>
          <% end %>
          <%= link_to(user_path(user), class:"hull_a") do %>
            <div class="skill_info">
              <table class ="skill_list">
                <tr>
                  <th>Name</th>
                  <td>
                    <%= link_to "#{user.name}", user_path(user) %>
                  </td>
                </tr>
                <tr>
                  <th>Career</th>
                  <td>
                    <% if user.portfolio.present? %>
                      <% if user.portfolio.career == 1 %>
                        <%= "Developer" %>
                      <% elsif user.portfolio.career == 2 %>
                        <%= "Designer" %>
                      <% elsif user.portfolio.career == 3 %>
                        <%= "DesiLoper" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>How Long?</th>
                  <td><%= user.career_year %></td>
                </tr>
                <tr>
                  <th>Skills</th>
                  <td>
                    <% if user.techs.any? %>
                      <%= render user.techs %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>
<div align="center">
 <%= will_paginate %>
</div>