<div class="container">
  <div align="center">
    <div class="PageLayout-content">
      <div class="FormContent">
        <h1><%= @user.name %></h1> <hr>
        <div class="user_image-size">
         <% if !@user.image.blank? %>
           <%= image_tag @user.image.url, id:"profile-pic" %>
         <% elsif @user.name == "TRIAL USER" %>
           <div class="user_image">
             <%= image_tag("sampleman.jpg" , id:"profile-pic") %>
           </div>
         <% else %>
           <%= image_tag "noprofile.png", id:"profile-pic" %>
         <% end %>
        </div>
        <% if loggedin? && (current_user.admin? || current_user == @user) && !@user.admin? %>
          <%= link_to "User Edit", edit_user_path(@user), class:"button" %>
          <%= link_to "Portfolio Edit", edit_portfolio_path(@user.portfolio), class:"button"%>
          <%= link_to "Delete Portfolio", portfolio_path(@user.portfolio), method: :delete,
                      data: {confirm: "Are you sure you want to delete the portfolio?"}, class:"button" %>
        <% end %>
        <div class="skill_info">
          <div class="user-related-box">
            <table class ="skill_list">
              <tr>
                <th>Age</th> 
                <td></td>
              </tr>
              <tr>
                <th>Gender</th> 
                <td>
                </td>
              </tr>
              <tr>
                <th>Area</th> 
                <td>
                </td>
              </tr>
              <tr>
                <th>Career</th>
                <td>
                  <% if @user.portfolio.blank? %>
                    <%= "No Portfolio was uploaded by #{@user.name} yet!" %>
                  <% elsif %>
                    <% if @user.portfolio.career == 1 %>
                      <li><%= "Developer" %></li>
                    <% elsif @user.portfolio.career == 2 %>
                      <li><%= "Designer" %></li>
                    <% elsif @user.portfolio.career == 3 %>
                      <li><%= "Developer Designer" %></li>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>How Long?</th> 
                <td><%= @user.career_year %></td>
              </tr>
              <tr>
                <th>Skills</th> 
                <td>
                  <% if @user.techs.any? %>
                    <%= render @user.techs %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <th>コメント</th> 
                <td>
                  <%= @user.portfolio.message %>
                </td>
              </tr>
              <tr>
                <th>job-hungting?</th> 
                <td></td>
              </tr>
              <tr>
                <th>Hobby</th> 
                <td></td>
              </tr>
            </table>
          </div>
        </div>
        
        <div class="experience-part">
          <h2 class="experience">Work/Study Experience</h2> 
          <p>
            <% if !@user.portfolio.experience.blank? %>
              <%= @user.portfolio.experience %>
            <% end %>
          </p>
        </div>
        <div class="portfolio-part">
          <h2 class="experience">Portfolio</h2> 
          <div class="portfolio1">
            <% if !@user.portfolio.first_image.blank? %>
              <div class="user_image"><%= link_to image_tag(@user.portfolio.first_image.url,id:"profile-pic-size"),@user.portfolio.first_site, target: :_blank %></div>
            <% elsif @user.portfolio.first_site == "https://github.com/nori3506" %>
              <div class="user_image"><%= link_to image_tag("noriportfolio.png",id:"profile-pic-size"), @user.portfolio.first_site, target: :_blank %></div>
            <% else %>
              <div class="user_image"><%= link_to image_tag("no_portfolio_image.png",id:"profile-pic-size"),@user.portfolio.first_site, target: :_blank%></div>
            <% end%>
            <div class="user-related-box">
              <table class ="skill_list">
                <tr>
                  <th>Web Name</th> 
                  <td></td>
                </tr>
                <tr>
                  <th>Summary</th> 
                  <td></td>
                </tr>
                <tr>
                  <th>URL</th> 
                  <td><%= link_to "アクセス", @user.portfolio.first_site %></td>
                </tr>
                <tr>
                  <th>制作期間</th> 
                  <td></td>
                </tr>
                <tr>
                  <th>使用技術</th> 
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
          <% if !@user.portfolio.second_site.blank? %>
            <div class="portfolio2">
              <% if @user.portfolio.second_image? %>
                <div class="user_image"><%= link_to image_tag(@user.portfolio.second_image.url, id:"profile-pic-size"),@user.portfolio.second_site, target: :_blank %></div>
              <% else %>
                <div class="user_image"><%= link_to image_tag("no_portfolio_image.png", id:"profile-pic-size"),@user.portfolio.second_site, target: :_blank %></div>
              <% end %>
              <div class="user-related-box">
                <table class ="skill_list">
                  <tr>
                    <th>Web Name</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>Summary</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>URL</th> 
                    <td><%= link_to "2nd Website", @user.portfolio.second_site %></td>
                  </tr>
                  <tr>
                    <th>制作期間</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>使用技術</th> 
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          <% end %>
          <% if !@user.portfolio.third_site.blank? %>
            <div class="portfolio3">
              <% if @user.portfolio.third_image? %>
                <div class="user_image"><%= link_to image_tag(@user.portfolio.third_image.url, id:"profile-pic-size"),@user.portfolio.third_site, target: :_blank %></div>
              <% else %>
                <div class="user_image"><%= link_to image_tag("no_portfolio_image.png", id:"profile-pic-size"),@user.portfolio.third_site, target: :_blank%></div>
              <% end %>
              <div class="user-related-box">
                <table class ="skill_list">
                  <tr>
                    <th>Web Name</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>Summary</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>URL</th> 
                    <td><%= link_to "3rd Website", @user.portfolio.third_site %></td>
                  </tr>
                  <tr>
                    <th>制作期間</th> 
                    <td></td>
                  </tr>
                  <tr>
                    <th>使用技術</th> 
                    <td></td>
                  </tr>
                </table>
              </div>
            </div>
          <% end %>
        </div>
        
        <div class="comment-part">
          <% if @portfolio.comments.any? %>
            <% @portfolio.comments.each do |comment| %>
                <%= comment.content %>
                <% if comment.user.portfolio.nil? %>
                  <%= "User without portfolio" %>
                <% else %>
                  <%= link_to comment.user.name, user_path(comment.user), class:"name_color" %>
                <% end %>
                <br>
            <% end %>
          <% end %>
          <% if loggedin? %>
            <div class="comment-form">
              <%= form_for(@comment, url:comments_path) do |f| %>
                <%= hidden_field_tag :comment_user, @current_user.id %>
                <%= hidden_field_tag :commented_user, @user.id %>
                <%= f.text_field :content %>
                <%= f.submit %>
              <% end %>
            </div>
          <% end %>
        </div>

        </br>
        <div class="back-button">
          <%= link_to "Back to User List", users_path %>
        </div>
      </div>
    </div>
  </div>
</div>
