<div class="company_home_container">
  <div class="company_home_news_area u-mt30">
    <h2 class="u-mb15">News</h2>
    <% @notifications.each do |notification| %>
      <hr>
      <%= link_to(companies_candidate_path(notification.user_id)) do %>
        <div class="notification-area">
          <p class="notification-date">
            <%= notification.created_at %>
          </p>
          <p class="notification-item">
          <%= notification.title %>
          </p>
        </div>
      <% end %>
    <% end %>
    <hr>
  </div>
  <div class="job-post-create-button-area">
    <p class="job-post-button-area">
      <%= link_to  "Create Job Post", new_companies_project_path, class:"job_post_button" %>
    </p>
    <div class="projects-number-area">
      <div class="project-number-grid">
        <h2>Jobs</h2>
        <p>Active</p>
        <%= @active_projects_number %>
        <p>Stop</p>
        <%= @doen_projects_number %>
        <p>Done</p>
        <%= @stop_projects_number %>
      </div>
    </div>
    <div class="candidates-area u-mt20">
      <div class="project-number-grid">
        <h2>Candidates</h2>
        <p>Screening</p>
        <%= @screening_users_number %>
        <p>Skill Checking</p>
        <%= @skill_check_users_number %>
        <p>Interview</p>
        <%= @interview_users_number %>
        <p>Recruitment Offerring</p>
        <%= @recruitment_offer_users_number %>
        <p>Signed</p>
        <%= @signed_users_number %>
        <p>Rejected</p> 
        <%= @reject_users_number %>
      </div>
    </div>
  </div>
</div>