<%= link_to  "create Job Post", new_companies_project_path %>

<h2>Job posts</h2>
<% @projects.each do |project| %>
  <%= link_to  project.title, companies_project_path(project) %> 
  <br>
<% end %>

<div class="company_home_news_area">
<h2>News</h2>
  <% @notifications.each do |notification| %>
    <%= notification.title %> <br>
  <% end %>
</div>

<div class="projects_number_area">
  <h2>Jobs</h2>
  <p>Active</p>
  <%= @active_projects_number %>
  <p>Stop</p>
  <%= @doen_projects_number %>
  <p>Done</p>
  <%= @stop_projects_number %>
</div>

<h2>Candidates</h2>
<%#
# お知らせ（応募があった or メッセージがあったなど）

# Candidates


# 最近の更新
>
