<div class="slider-area">
  <div class="slider slider-size image-area">
    <% @carousel_projects.each do |carousel_project| %>
      <div class="slider-img">
        <%= link_to(project_path(carousel_project)) do %>
          <%# <img src="<%= carousel_project.main_image %>
          <%= image_tag "office-inside#{rand(1..9)}.jpg" %>
        <% end %>
      </div>
    <% end%>
  </div>
</div>

<div class="main-container u-mt15">
  <div class="side-container">
    <%= render 'side' %>
  </div>
  <div class="project-main-container">
    <% @projects.each do |project| %>
      <%= link_to(project_path(project)) do %>
        <div class="project-container">
          <div class="project-image-area">
            <div class="image-content">
              <%# <img src="<%= project.company.main_image %>
              <%= image_tag "office-inside#{rand(1..9)}.jpg" %>
            </div>
            <div class="image-content">
              <%# <img src="<%= project.main_image %>
              <%= image_tag "office-inside#{rand(1..9)}.jpg" %>
            </div>
          </div>
          <h3 class="project-element u-my25 project-header"> 
            <%= truncate(project.title, length: 40) %>
          </h3>
          <div class="project-element">
            <%=safe_join(truncate(project.detail, length: 400).split("\n"),tag(:br))%>
          </div>
          <h3 class="project-element u-left company-name">
            <%= link_to  project.company.name, company_path(project.company) %>
          </h3>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
