<div class="slider-area">
  <div class="slider slider-size image-area">
    <div class="slider-img"><img src="<%= @projects.first.main_image %>"></div>
    <div class="slider-img"><img src="<%= @projects.last.main_image %>"></div>
    <div class="slider-img"><img src="<%= @projects.first.main_image %>"></div>
    <div class="slider-img"><img src="<%= @projects.last.main_image %>"></div>
    <div class="slider-img"><img src="<%= @projects.first.main_image %>"></div>
  </div>
</div>

<div class="main-container">
  <div class="side-container">
    <%= render 'side' %>
  </div>
  <div class="project-main-container">
    <% @projects.each do |project| %>
      <div class="project-container">
        <div class="project-image-area">
          <div class="image-content">
            <img src="<%= project.company.main_image %>">
          </div>
          <div class="image-content">
            <img src="<%= project.main_image %>">
          </div>
        </div>
        <h3 class="project-element u-my10"> 
          <%= link_to  project.title, project_path(project) %>
        </h3>
        <div class="project-element u-mb10">
          <%= link_to  project.company.name, company_path(project.company) %>
        </div>
        <div class="project-element u-mb10">
          <%= link_to  truncate(project.detail, length: 150), project_path(project) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
