<%= render 'side' %>
<div class="slider slider-size">
  <div><%= image_tag 'human.jpg', size: "380x350" %></div>
  <div><%= image_tag 'avatar.png', size: "380x350" %></div>
  <div><%= image_tag 'logo.png', size: "380x350" %></div>
  <div><%= image_tag 'logo.png', size: "380x350" %></div>
  <div><%= image_tag 'logo.png', size: "380x350" %></div>

</div>

<% @projects.each do |project| %>
  <div class="project-container">
    <div class="project-image-area">
      <div class="image-content">
        <img src="<%= project.company.main_image %>">
      </div>
      <div class="image-content">
        <img src="<%= project.main_image %>">
      </div>
    </div>
    <h2> <%= link_to  project.title,  project_path(project) %></h2>
    <%= link_to  project.detail,  project_path(project) %>
    <%= link_to  project.company.name,  project_path(project) %>
  </div>
<% end %>