  <%= @project.title %>
  <img src="<%= @project.main_image %>">
  <%= @project.detail %>
  <%= @project.background %>
  <%= @project.requirement %>
  <%= @project.process %>


<h3>Other Job Posts from <%= @project.company.name %></h3>