<%= form_with(model: form, url: url, local: true) do |f| %>
  <%= f.hidden_field :company_id, :value => current_user.company.id %>
  <div class="project-form__first">
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :title, class: 'required' %>
      </div>
      <div class="project-form__input">
        <%= f.text_field :title, class: 'project-form__input-area', value: @form.title %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :file_name,"Project Main Image", class: 'required' %>
      </div>
      <% if form.main_image.present? %>
        <div class="project-form__image-area">
          <img src="<%= form.main_image %>", id="js-img_prev", value="<%= @form.project.main_image %>">
        </div>
      <% else %>
        <div class="project-form__image-area">
          <%= image_tag "select_image.png", id: 'js-img_prev' %>
        </div>
      <% end %>
      <div class="project-form__input">
        <%= f.file_field :file_name, id: 'js-user_img',accept:'.jpg,.gif,.png,image/gif,image/jpeg,image/png' %>
      </div>
    </div>		
     <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :background, class: 'required' %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :background, class: 'project-form__input-area', rows: 8, placeholder: "why does your company need this position?", value: @form.background %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :detail, class: 'required' %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :detail, class: 'project-form__input-area', rows: 8, value: @form.detail %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :requirement, class: 'required' %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :requirement, class: 'project-form__input-area', rows: 8, value: @form.requirement %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__btn-area js-first-form-button">
        <span class="project-form__btn">Next</span>
      </div>
    </div>
  </div>
  <div class="project-form__second">
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :benefit %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :benefit, class: 'project-form__input-area', rows: 4, value: @form.benefit %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__input">
        <%= f.radio_button :emp_type, :正社員, class: 'project-form__input-area' %>
      </div>
      <div class="project-form__label">
        <%= f.label :emp_type_regular, '正社員' %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :allocation %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :allocation, class: 'project-form__input-area', rows: 4, value: @form.allocation %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :min_salary %>
      </div>
      <div class="project-form__input">
        <%= f.select :min_salary, options_for_select(
          { '100万円' => 1000000, '200万円' => 2000000,'300万円' => 3000000, '400万円' => 4000000, '500万円' => 5000000, '600万円' => 6000000,
          '700万円' => 7000000, '800万円' => 8000000,'900万円' => 9000000, '1000万円以上' => 10000000  }) %>
      </div>
    </div>
    <div class="project-form__element">	
      <div class="project-form__label">
        <%= f.label :max_salary %>
      </div>
      <div class="project-form__input">
        <%= f.select :max_salary, options_for_select(
          { '200万円' => 2000000, '300万円' => 3000000, '400万円' => 4000000, '500万円' => 5000000, '600万円' => 6000000,
          '700万円' => 7000000, '800万円' => 8000000,'900万円' => 9000000, '1000万円以上' => 10000000 }) %>
      </div>
    </div>
    <div class="project-form__element">	
      <div class="project-form__label">
        <%= f.label :process %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :process, class: 'project-form__input-area', rows: 4, value: @form.process %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :welfare %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :welfare, class: 'project-form__input-area', rows: 4, value: @form.welfare %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :place %>
      </div>
      <div class="project-form__input">
        <%= f.text_area :place, class: 'project-form__input-area', value: @form.place %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :number_of_hire %>
      </div>
      <div class="project-form__input">
        <%= f.number_field :number_of_hire, class: 'project-form__input-area', value: @form.number_of_hire %>
      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__label">
        <%= f.label :status %>
      </div>
      <div class="project-form__input">
        <%= f.select :status, options_for_select(
          { 'stop' => :stop, 'active' => :active }) %>
          <div class="note">
            <div class="note_content">
              "stop"   ・・・Draft(Not display)
            </div>
            <div class="note_content">
              "active" ・・・Open to users     
            </div>   
          </div>

      </div>
    </div>
    <div class="project-form__element">
      <div class="project-form__btn-area js-third-form-button">
        <%= f.submit yield(:button_text), class: "project-form__btn"%>
      </div>
      <div class="project-form__back-btn js-second-form-back">
        <span class="u-pointer">Back</span>
      </div>
    </div>
  </div>
<% end %>
