<%= link_to  "Create Job Post", new_companies_project_path, class:"company-project-edit-button u-my30" %>
<div class="table-area">
  <table>
    <thead>
      <tr>
        <th scope="col">Job Title</th>
        <th scope="col">Work Place</th>
        <th scope="col">Created At</th>
        <th scope="col">Interest</th>
        <th scope="col">Apply</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
          <tr>
            <td><%= link_to(companies_project_path(project)) do %><%= project.title %><% end %> </td>
            <td><%= project.place %></td>
            <td><%= project.created_at %></td>
            <td><%= project.interests.size %></td>
            <td><%= project.candidates.size %></td>
            <td><%= project.status %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
