<nav class="header-nav">
  <ul class="u-px5">
    <% if user_signed_in? %>
      <%= link_to(root_path, "aria-label" => "Link to Home") do %>
        <%= image_tag("logo_2.png", alt: 'Logo') %>
      <% end %>
      <div class="nav-link-area u-mr20">
        <div class="header-items">
          <li class="header-nav-list"><%= link_to "Search Jobs", projects_path, class: "nav-main-list" %></li>
          <li class="header-nav-list">
            <%= link_to channels_path do %>
              <i class="far fa-envelope fa-2x"></i>
            <% end %>
          </li>
          <li class="header-nav-list">
            <%= link_to interests_path do %>
              <i class="far fa-thumbs-up fa-2x"></i>
            <% end %>
          </li>
          <li class="header-nav-list menu__single">
            <%= link_to  do %>
              <span class="nav-main-list"><%= current_user.name %> <i class="fas fa-caret-down"></i></span>
            <% end %>
            <ul class="menu__second-level_4">
              <li class="u-px10 sub-nav-list max-content"><%= link_to('Logout', destroy_user_session_path, method: :delete, class:"small-font") %></li>
              <li class="u-px10 sub-nav-list max-content"><%= link_to "Edit Account", edit_user_path(current_user), class:"small-font"%></li>
              <% if current_user.portfolio.nil? %>
                <li class="header-nav-list u-px10 sub-nav-list">
                  <%= link_to "Create Resume", new_portfolio_path, class:"small-font"%>
                </li>
              <% else %>
                <li class="header-nav-list u-px10 sub-nav-list">
                  <%= link_to "Edit Resume", edit_portfolio_path(current_user.portfolio)%>
                </li>
              <% end %>
            </ul>
          </li>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="globalMenuSp">
          <ul class="drop-menu">
            <li><%= link_to "Search Jobs", projects_path, class: "nav-main-list" %></li>
            <li><%= link_to "Messages", channels_path, class: "nav-main-list" %></li>
            <li><%= link_to "Interests", interests_path, class: "nav-main-list" %></li>
            <li class="menu__single_2">
              <a href="#" class="init-bottom">Acount <i class="fas fa-caret-down"></i></a>
              <ul class="menu__second-level_2">
                <li><%= link_to "Edit Account", edit_user_path(current_user), class: "nav-main-list_2 nav-displya-control" %></li>
                <% if current_user.portfolio.nil? %>
                  <li class="header-nav-list sub-nav-list">
                    <%= link_to "Create Resume", new_portfolio_path, class:"small-font nav-displya-control" %>
                  </li>
                <% else %>
                  <li class="header-nav-list sub-nav-list">
                    <%= link_to "Edit Resume", edit_portfolio_path(current_user.portfolio), class:"small-font nav-displya-control" %>
                  </li>
                <% end %>
                <li><%= link_to('Logout', destroy_user_session_path, { method: :delete, class: "nav-main-list_2 nav-displya-control" }) %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag("logo_2.png") %>
      <% end %>
      <div class="nav-link-area u-mr20">
        <div class="header-items">
          <li class="header-nav-list"><%= link_to "Search Jobs", projects_path, class:"nav-main-list" %></li>
          <li class="header-nav-list ">
            <%= link_to "TRIAL Login", users_trial_path, class:"trial-color nav-main-list" %>
          </li>
          <li class="header-nav-list "><%= link_to "Employers", new_user_registration_path(params: { company_user_regist: true }), class:"nav-main-list" %></li>
          <li class="header-nav-list"><%= link_to "Sign up", new_user_registration_path, class:"nav-main-list" %></li>
          <li class="header-nav-list"><%= link_to "Login",  new_user_session_path, class:"nav-main-list" %></li>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="globalMenuSp">
          <ul class="drop-menu">
            <li><%= link_to "Search Jobs", projects_path, class: "nav-main-list" %></li>
            <li><%= link_to "TRIAL Login", users_trial_path, class: "nav-main-list" %></li>
            <li><%= link_to "Employers", new_user_registration_path(params: { company_user_regist: true }), class: "nav-main-list" %></li>
            <li><%= link_to "Sign up", new_user_registration_path, class: "nav-main-list" %></li>
            <li><%= link_to "Login", new_user_session_path, class: "nav-main-list" %></li>           
          </ul>
        </nav>
      </div>
    <% end %>
  </ul>
</nav>
