<nav class="header-nav">
  <ul class="u-px5">
    <% if user_signed_in? %>
      <%= link_to root_path do %>
        <%= image_tag("logo.png") %>
      <% end %>
      <div class="nav-link-area u-mr20">
        <li class="header-nav-list"><%= link_to "Search Jobs", projects_path, class: "nav-main-list" %></li>
        <li class="header-nav-list">
          <%= link_to interests_path do %>
            <i class="far fa-thumbs-up fa-2x"></i>
          <% end %>
        </li>
        <div class="u-mt5 nav-user-link">
          <a href="#" class="jsToggle nav-main-list">
            <span class="nav-main-list"><%= current_user.name %> <i class="fas fa-caret-down"></i></span>
          </a>
          <ul class="list-toggle-con u-mt15">
            <li class="u-px10 sub-nav-list"><%= link_to('Logout', destroy_user_session_path, method: :delete, class:"small-font") %></li>
            <li class="u-px10 sub-nav-list"><%= link_to "Edit Acount", edit_user_path(current_user), class:"small-font"%></li>
            <% if current_user.portfolio.nil? %>
              <li class="header-nav-list u-px10 sub-nav-list">
                <%= link_to "Create Resume", new_portfolio_path, class:"small-font"%>
              </li>
            <% else %>
              <li class="header-nav-list u-px10 sub-nav-list">
                <%= link_to "Edit Resume", edit_portfolio__path(current_user.portfolio)%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to root_path do %>
        <%= image_tag("logo.png") %>
      <% end %>
      <div class="nav-link-area">
        <li class="header-nav-list"><%= link_to "Search Jobs", projects_path, class:"nav-main-list" %></li>
        <!--
          <li class="">
            <a href="#" class=""  role="button" aria-haspopup="true" aria-expanded="false">
              Skill<span class="caret"></span>
            </a>
          
            <ul class=" ">
              <% Tech.all.each do |tech| %>
                <li class=""><%= link_to tech.name, tech_path(tech) %></li>
              <% end %>
              <li class=""><%= link_to "Create New Skill List", new_tech_path %></li>
            </ul>
          </li>
        -->
        <li class="header-nav-list ">
          <%= link_to "TRIAL Login", users_trial_path, class:"trial-color nav-main-list" %>
        </li>
        <li class="header-nav-list "><%= link_to "Employers", new_user_registration_path(params: { company_user_regist: true }), class:"nav-main-list" %></li>
        <li class="header-nav-list"><%= link_to "Sign up", new_user_registration_path, class:"nav-main-list" %></li>
        <li class="header-nav-list"><%= link_to "Login",  new_user_session_path, class:"nav-main-list" %></li>
        <!--
          <li class="dropdown ">
            <a href="#" class=""  role="button" aria-haspopup="true" aria-expanded="false">
              User Edit<span class="caret"></span>
            </a>
            <ul class="">
                <li class=""><%= link_to "Sign up", new_user_registration_path %></li>
                <li class=""><%= link_to "Login",  new_user_session_path %></li>
            </ul>
          </li>
        -->
      </div>
    <% end %>
  </ul>
</nav>
