<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DesiLopers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://kit.fontawesome.com/cbf2b7d4c6.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>
    <script>
      $(function() {
          $(".jsToggle").on("click", function() {
              $(this).toggleCSS3();
              return false;
          });
      });
    </script>
    <%= favicon_link_tag('favicon.ico') %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= alerts %>
    <div class="main-massage">
      <%= yield %>
    </div>
    <div class="u-center u-text-white">
      <%= copyright_generator %>
    </div>
  </body>
</html>
