<div class="user-regist-wrapper">
  <div class="user-regist-form u-py35">
    <h2 class="u-mb15">
      <%= yield(:head_text) %>
    </h2>
    <section class="user-regist-form__content">
      <%= form_with( model: @user, url: {controller: 'users/registrations', action: 'create'}, local: true) do |f| %>
        <div class="user-regist-input-area">
          <%= f.label:name, 'Name', class: "u-left block-label" %>
          <%= f.text_field :name, placeholder: "Alexaaaandle Ronald", class: 'user-regist-form__input u-mb20', required: true, autocomplete: 'off'  %>
          <%= f.label:email, 'Email', class: "u-left block-label" %>
          <%= f.text_field :email, placeholder: "desilopers@example.com", class: 'user-regist-form__input u-mb20', required: true, autocomplete: 'off' %>
          <%= f.label:password, 'Password', class: "u-left block-label" %>
          <%= f.password_field :password, placeholder: "More Than 8 Letter", class: 'user-regist-form__input u-mb20', required: true, autocomplete: 'off' %>
          <%= f.label:password_confirmation, 'Password Confirm', class: "u-left block-label" %>
          <%= f.password_field :password_confirmation, placeholder: "More Than 8 Letter", class: 'user-regist-form__input u-mb20', required: true, autocomplete: 'off' %>
          <%= hidden_field_tag :company_user_regist, params[:company_user_regist] %>
        </div>  
        <% if false%>
          <div class="session-form__element">
            <div class="session-form__label">
              <%= f.label:career_year, 'Career' %>
            </div>
            <div class="session-form__input">
              <%= select(:user, :career_year, [['Nothing/Self-Learning ONLY'], ['1 year'],['2 years'],['3 years'],['4 years'],['5 years'],
              ['6 years'],['7 years'],['8 years'],['9 years'],['10 years'],['11 years'],['12 years'],['13 years'],['14 years'],['15 years'],
              ['16 years'],['17 years'],['18 years'],['19 years'],['20 years'],['More Than 20 years']])  %>
            </div>
          </div>
          <% unless params[:company_user_regist].present? %>
            <div class="session-form__element">
              <div class="session-form__label">
                <%= f.label:birthday, 'Birthday' %>
              </div>
              <div class="session-form__input">
                <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    use_month_numbers: true,
                    start_year: 1940,
                    end_year: 2010,
                    default: Date.new(1990, 1, 1),
                    prefix: :birthday,
                    date_separator: '%s'
                  ), '年 ', '月 ') + '日'
                %>
              </div>
            </div>
            <div class="session-form__element">
              <div class="session-form__label">
                <%= f.label :gender, 'Sex' %>
              </div>
              <div class="session-form__input">
                <%= f.radio_button :gender, :male, class:"", checked: true %>Male
                <%= f.radio_button :gender, :female, class:"" %>Female
              </div>
            </div>
            <% if false%>
              <div class="session-form__element">
                <p class="skill_head">
                  Select your skills below
                </p>
                <div class="session-form__input">
                  <%= f.collection_check_boxes :tech_ids, Tech.all, :id, :name do |cb| %>
                    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                  <% end %>
                </div>
              </div>
              <div class="session-form__element">
                <div class="picture_head">
                  Profile Picture
                </div> 
                <div class="session-form__input">
                  <%= f.file_field :image %>
                </div>
              </div>
            <% end %>
          <% end%>
        <% end %>
        <div class="u-mb15">
          <%= f.submit yield(:button_text), class: 'regist-button' %>
        </div>
      <% end %>
      <% if !user_signed_in? %>
        <p class="under-little-space">
          <%="Have an account？"%> <%= link_to "Login", new_user_session_path,class:"button-against-whitebackground" %>
        </p>
      <% end %>
    </section>
  </div>
</div>
